<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.baitaplay_k">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AssinaturaActivity">
        </activity>
        <activity android:name=".CadastroActivity">
        </activity>
        <activity android:name=".FormEditPerfilActivity">
        </activity>
        <activity android:name=".SplashActivity">
        </activity>
        <activity android:name=".PerfilActivity">
        </activity>
        <activity android:name=".VideoActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
    </application>

</manifest>